
.cv-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center !important;
}

.degree-name {
  flex-grow: 1;
  text-align: left !important;
}

.year {
  text-align: right !important;
  white-space: nowrap; /* Prevent wrapping */
}

.github-box {
  border: 1px solid #343A40 ;
  padding: 7px;
  display: inline-block;
  text-align: left;
  border-radius: 10px;
}

.dashboard-image {
  border: 5px solid #343A40;
  border-radius: 10px;
  width: 100%; /* Optional: Adjust size */
}