
.cv-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center !important;
}

.degree-name {
  flex-grow: 1;
  text-align: left !important;
}

.year {
  text-align: right !important;
  white-space: nowrap; /* Prevent wrapping */
}